framework/libraries/credentials
framework/config.php
framework/log.txt
html/cache/css/*
html/cache/js/*
html/cache/img/*
html/cache/html/*
html/cache/aud/*
html/cache/files/*
!framework/libraries/credentials/.gitkeep
!html/cache/css/.gitkeep
!html/cache/js/.gitkeep
!html/cache/img/.gitkeep
!html/cache/html/.gitkeep
!html/cache/aud/.gitkeep
!html/cache/files/.gitkeep
