#cms_message {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Default */
textarea {
    width: 99%;
    min-height: 99px;
    height: 50vh;
}

.cms_instructions {
    margin: 2.5%;
    border-style: inset;
}
